/* ---------Box Sizing--------- */

html{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------Utility Styles--------- */

.container{
  width: 80vw;
  margin:40px auto;
  max-width: 600px;
}

.img-right{
  float:right;
  padding:5px;
  border:1px solid black;
  margin: 10px 0 10px 20px;
}

.img-left{
  float:left;
  padding:5px;
  border:1px solid black;
  margin: 10px 20px 10px 0;
}

img-center{
  display:block;
  padding:5px;
  border:1px solid black;
  margin: 20px auto;
}





/* ---------Utility Styles--------- */
img{
  max-width: 100%;
  height: auto;
}

/* ---------Global Styles--------- */
body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
header.primary{
  background-color:navy;
  text-align:center;
  color:gray;
  text-shadow:2px 2px #fe8069
;
  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
  
    /* Shorthand top/bottom, left/right */
  padding: 20px 40px;
  
  /* Shorthand T,R,B,L */
  padding: 40px 40px 20px 40px;
       
}

header.primary h1{
  font-size: 2.2rem;
  margin: 20px 0;
}

header.primary h1 a{
  text-decoration:none;
  color:gray;
}

header.primary h2{
  font-size:2rem;
  margin:20px auto 40px;
}

header.primary nav{
  width: 80vw;
  margin: auto;
  max-width:600px
}

header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;  
}

header.primary nav ul li{ 
list-style-type: none;
padding: 10px
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:navy;
  text-decoration: none;
  background-color: orange;
  background-color: rgba;
  padding: 5px;
  border-radius: 10px; 
  transition:.25s;
}

header.primary nav ul li a:hover, header.primary nav ul li a:active{
  background-color:gray;
}

#intro{
  border-bottom: 1px solid;
  padding-bottom:1.5em;
}

#intro p {
  line-height:1.5em;
}

#intro h2{
  color: orange;
}

#content{
 display: flex; 
 flex-direction:row;
 justify-content: space-between;
 border-bottom: 1px solid;
 padding-bottom:1rem;
}

#content article.post{
  width:30%;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  transition:.5s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

#content .post figure{
  margin:0;
}

#content article time,#content figcaption, #content article footer{
  font-size:.8rem;
  text-transform:capitalize;
}

#content article img{
  border-radius:2.5px
}

.post a:link, .post a:visited{
  color:orange;
  
}
/* Attribute Selector */
aside[role="complementary"]{
  background-color:navy ;
  color: white;
  padding: 2rem;
}

aside .container{
  display:flex;
  flex-direction:row ;
  justify-content: space-between;
}

aside article.widget{
  width:50%;
}

aside a:link, aside a:visited{
  color:orange;
  display:block;
  margin-top:20px;
  letter-spacing:1px;
}

aside a:hover, aside a:active{
  text-decoration:none;
}

aside article footer{
  display: none;
}

footer#colophon{
  background-color: navy;
}

#colophon h6{
  padding:20px;
  marging:o;
  color:white;
  text-align:center;
  font-size: .8rem;
  text-transform: uppercase;
}

#additional-elements h2{
  color:orange;
}

#addition-alements a:link, adiitional-elements a:visited{
  color:navy;
}

#addition-alements a:visited, adiitional-elements a:active{
  text-decoration:none;
}

#additional-elements h3{
  border-left:5px solid black;
  padding:5px 10px;
}

table{
  width:100%;
  border:1px solid black;
  border-collapse:collapse;
}

table caption{
  color:navy;
  padding:5px;
  font-weight:bold;
  font-size:1 rem;
}

table td{
  border: 1px solid black;
  padding: 2px
}

table tr:nth-child(even){
 background-color: rgba(0,0,0,.1)
}

table tr:hover{
  background-color: rgba(0,0,0,.5)
}

table th{
  background-color: orange;
  width: 50%;
  padding:5px;
}

#additional-elements ol{
  list-style-type:upper-roman
}

#additional-elements ul ul{
  list-style-type:square;
}

#additional-elements dl{
  line-height:1.5
}

#additional-elements dt{
  font-weight:bold;
  font-size:1rem;
}

#additional-elements dd{
  margin:0;
}

dd + dt{
  margin-top:1.4rem;
}

#additional-elements blockquote{
  background:rgba(0,0,0,.15);
  padding: 40px 60px;
  border:5px double grey;
  border-radius:16px;
}

#additional-elements cite{
  display:block;
  font-size:.6em;
  text-align:right;
  margin-top:1.5rem;
  font-size:.6rem;
}






@media screen and (max-width:690px){
  header.primary nav ul {
    flex-direction:column;
    max-width:420px;
    margin:auto 
  }
  
  header.primary nav a{
    display:block;
  }
   
}
