/* ---------Box Sizing--------- */

html{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------Global Styles--------- */
body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
h1{
  background-color:white;
  text-align:center;
  color:gray;
  text-shadow:2px 2px #fe8069
;
  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
  
    /* Shorthand top/bottom, left/right */
  padding: 20px 40px;
  
  /* Shorthand T,R,B,L */
  padding: 40px 40px 20px 40px;
        
}

nav{
  width: 80vw;
  margin: auto;
  max-width:600vw;
  text-align:center;
}

nav ul{
  display:flex;
  flex-direction: Column;
  justify-content: space-between;
  padding:10px;
}

 nav ul li{ 
list-style-type: none;
}

 nav ul li a:link, header.primary nav ul li a:visited{
  color:blue;
  text-decoration: none;
  background-color: orange;
  background-color: rgba;
  padding: 5px;
  border-radius: 5px;
  transition:.25s;
}

nav ul li a:hover, nav ul li a:active{
  background-color:gray;
}

nav ul li Float Exercises

@media screen and (max-width:690px){
  nav ul {
    flex-direction:row;
    max-width:420px;
    margin:auto 
  }
  
  nav a{
    display:block;
  }
   
}
